<div id="<%= dom_id fight %>"clas="card" style="width: 18rem;"> 
  <<li class="list-group-item">
    <strong>Blue corner:</strong>
    <%= fight.blue_corner %>
  </li>

 <li class="list-group-item">
    <strong class=>Red corner:</strong>
    <%= fight.red_corner %>
  </li>

  <li class="list-group-item">
    <strong>Date:</strong>
    <%= fight.date %>
  </li>

  <li class="list-group-item">
    <strong>Competition:</strong>
    <%= fight.competition %>
  </li>

  <li class="list-group-item">
    <strong>Winner:</strong>
    <%= fight.winner %>
  </li>

</div>
